/*========== BASE STYLE ==========*/
.section-title {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
}
.para {
    color: $para;
    font-size: 18px;
}
/*========== END BASE STYLE ==========*/