/*========== SECTION ==========*/
form {
    max-width: 500px;
    background: #016d4c;
    small {
        text-align: left !important;
        display: block;
        color: #fbff06;
        padding: 10px 6px;
    }
}
table {
    white-space: nowrap;
}
/*========== END SECTION ==========*/

