/*========== SECTION ==========*/
section {
  background: #dadada;
}

form {
  max-width: 500px;
}

form span {
  color: #ff0000;
  font-size: 14px;
}

.card {
  max-width: 500px;
  display: block;
  margin: 20px auto;
  margin: 20px;
}

/*========== END SECTION ==========*/
/*========== SECTION ==========*/
/*========== END SECTION ==========*/
/*========== SECTION ==========*/
/*========== END SECTION ==========*/
/*========== SECTION ==========*/
/*========== END SECTION ==========*/
/*========== SECTION ==========*/
/*========== END SECTION ==========*/
