@import 'mixins/breakpoints'; // PARTIALS

/*========== SECTION ==========*/
body {
    font-family: 'Josefin Sans', sans-serif;
    background: #191519;
}
th {
    font-weight: normal;
}
.form-container {
    background: #221e22;
    height: 100vh;
    width: 0;
    overflow: hidden;
    position: fixed;

    @include media-min-lg {
        position: static;
    }
}
.add-student {

    @include media-min-lg {
        position: absolute;
        top: 30px;
    }
    
}
/*========== END SECTION ==========*/

/*========== SECTION ==========*/

/*========== END SECTION ==========*/