@import 'abstracts/base'; // PARTIALS

/*========== CART SECTION ==========*/
.cart {
    img {
        width: 100px;
    }
}
td {
    vertical-align: middle !important;
}
th {
    font-weight: 500;
}
input[type=number] {
    outline: none;
    background-color: transparent;
}
/*========== END CART SECTION ==========*/