@import 'mixins/breakpoints'; // PARTIALS

/*========== SECTION ==========*/
header {
    .logo {
        width: 100px;
    }
}
.card {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.cart {
    img {
        width: 100px;
    }
    input {
        width: 70px;
    }
    p {
        margin: 10px;
        font-weight: bold;
    }
    i {
        font-size: 22px;
        cursor: pointer;
    }
}
/*========== END SECTION ==========*/