@import 'mixins/breakpoints'; // PARTIALS

/*========== SECTION ==========*/
.drop {
    min-height: 30vh;
    overflow: hidden;
    text-align: center;
    // img {
    //     border: 2px solid #ffffff;
    //     margin: 10px;
    //     box-shadow: 0 0 13px 0px #989494;
    // }
    .frame {
        border: 10px solid #e2e2e2;        
        height: 300px;
        padding: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.border-right {
    border-right: 5px;
}
.border-bottom {
    border-bottom: 5px;
}
.drag {
    min-height: 100px;
}
/*========== END SECTION ==========*/